{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block title %}Alterar Senha{% endblock %}

{% block content %}
<div style="max-width: 600px; margin: 0 auto;">
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Alteração de Senha</h3>
        </div>
        <div class="card-body">
            <p>Por favor, insira sua senha antiga e, em seguida, digite sua nova senha duas vezes.</p>
            <form method="post">
                {% csrf_token %}
                {% bootstrap_form form %}
                <div class="d-grid gap-2">
                    <button type="submit" class="btn btn-success">Salvar Nova Senha</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}